body {
	margin:0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    grid-gap: 1px;
    
}
.item-1{
	background-color: blue;
	min-height:70vh; 

}

.item-2{
	background-color: orange;
	/*width: 200px;*/	
}
h1 {
	border: 0;
	margin: 0;
	font-size: 2vw;
}

div {
	font-size: 1vw;
}


.rotate-left{
	position: absolute;
	background-color: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    right: -100px;
    /*left: 0px;*/
    /*height: 200px;*/
}
.rotate-right{
	position:absolute; 	
	background-color: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(90deg);
    /*width:100px;*/
    /*height: 200px;*/
}

.left-player-card{
	max-width: 100%;
	height: auto;
}


.right-player-card{
	max-width: 100%;
	height: auto;
}

.player-plate {
	background-color: blue;
	margin-top: 1px;
	height: 30vh;

}

.rotated {
	background-color: red;
	width:30vh;
	height: 6vh;
    display:inline-block;
    position:absolute;
    left:-12vh;
    padding: 0;
    margin: 0;

    margin-top: 12vh;
    text-align: center;
    
    
    /*line-height: 5em;*/
    /*text-align: right;*/
	-webkit-transform:rotate(-90deg);
	border-radius: 10px;
}

.item-shifter{
	float:left; 
	width:6vh;
}

.player-card{
	float:left;
	margin-left: 10px;
}

.dice-panel{
	float:right;
}

