
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-gap: 1px;
    /*height: 400px;*/
}
.item-1{
	background-color: blue;
	height:80vh; 

}

.item-2{
	background-color: orange;
	/*width: 200px;*/	
}
h1 {
	font-size: 4vw;
}

div {
	font-size: 1vw;
}


.rotate-left{
	position: absolute;
	background-color: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    right: -100px;
    /*left: 0px;*/
    /*height: 200px;*/
}
.rotate-right{
	position:absolute; 	
	background-color: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(90deg);
    /*width:100px;*/
    /*height: 200px;*/
}

